::selection {
  color: #fff;
  background-color: #ddd;
}


.site-header {
  transition: all 0.75s;
}

.site-header.header-scrolled {
  padding: 0.5rem 0;
}

.site-header .header-logo {
  transition: all 0.75s;
}

.site-header.header-scrolled .header-logo {
  height: 40px;
  transform: rotate(180deg);
}

.section-2,
.section-3 {
  aspect-ratio: 16/9;
}
