#header-wrapper {
  .custom-logo {
    width: auto;
    height: 60px;
    transition: height 0.5s;

    svg {
      height: 100%;
    }
  }

  &.header-scrolled {
    .custom-logo {
      height: 50px;
    }
  }
}

.home {
  #header-wrapper {
    position: fixed;
    right: 0;
    left: 0;
    background-color: transparent !important;

    &.header-scrolled {
      background-color: #333 !important;
    }
  }
}

.example {
  display: grid;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
  transition: all 0.5s;
}

::placeholder {
  color: gray;
}

::selection {
  color: gray;
}

.image {
  background: linear-gradient(to bottom, white, black);
}

@media (min-resolution: 2dppx) {
  .image {
    background: linear-gradient(to bottom, red, black);
  }
}
