// --- Colors ---

$primary: #131635;
$secondary: #757fe8;
$light: #f6f8ff;
$dark: #333;

// --- Typography ---

$font-fallback: system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-body: $font-fallback;
$font-headings: $font-fallback;

// --- Custom Styles ---

::selection {
  color: #fff;
  background-color: #ddd;
}

.site-header {
  transition: all 0.75s;

  .header-logo {
    transition: all 0.75s;
  }

  &.header-scrolled {
    padding: 0.5rem 0;

    .header-logo {
      height: 40px;
      transform: rotate(180deg);
    }
  }
}

.section-2,
.section-3 {
  aspect-ratio: 16/9;
}
